<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for ('static', filename='css/style.css')}}">
    <title>Document</title>
</head>
<body>
    <div class='container'>
        <div>
            <p>
                Your Gold: <span class='border border-dark'>{{session['gold']}}</span>
            </p>
        </div>
        <div class='d-flex justified-content-around'>
            <div class='card-body border border-dark text-center'>
                <h3>Farm</h3>
                <br>
                <p>(earns 10-20 golds)</p>
                <form action="/process_money" method="post">
                    <input type='hidden' name='location' value='farm'>
                    <button>Find Gold</button>
                </form>
            </div>
            <div class='card-body border border-dark text-center'>
                <h3>Cave</h3>
                <br>
                <p>(earns 5-10 golds)</p>
                <form action="/process_money" method="post">
                    <input type='hidden' name='location' value='cave'>
                    <button>Find Gold</button>
                </form>
            </div>
            <div class='card-body border border-dark text-center'>
                <h3>House</h3>
                <br>
                <p>(earns 2-5 golds)</p>
                <form action="/process_money" method="post">
                    <input type='hidden' name='location' value='house'>
                    <button>Find Gold</button>
                </form>
            </div>
            <div class='card-body border border-dark text-center'>
                <h3>Casino</h3>
                <br>
                <p>(earns/takes 0-50 golds)</p>
                <form action="/process_money" method="post">
                    <input type='hidden' name='location' value='casino'>
                    <button>Find Gold</button>
                </form>
            </div>
        </div>
        <br>
        <p>Activities:</p>
        <div class='border border-dark activities'>
            {% for activity in session.activities|reverse %}
                <p>{{activity|safe}}</p>
            {% endfor %}
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>

</body>
</html>