<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Process Data</title>
</head>
<body>
    <h1>Info</h1>
    <form action="/page2/{{uuid}}" method="POST">
        <!-- <input type="hidden" name="hiddenInput" value="{{uuid}}"> -->
        <input type="text" name="first_name" placeholder="First Name">
        <input type="text" name="last_name" placeholder="Last Name">
        <button>Submit</button>
    </form>
</body>
</html>