<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    The Num is: {{number}}
    The name is: {{name}}
    The age is: {{age}}
    {% if number == 15 %}
        {% for x in range(number) %}
            <p>Hello {{name}}</p>
        {% endfor %}

    {% else %}
        <p>Goodbye</p>

    {% endif  %}
</body>
</html>

