<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/"><button>Go Home</button></a>
    <form action="/user/{{user.id}}/update" method="post">
        <fieldset>
            <legend>
                <label for="first_name">First Name:</label>
            </legend>
                <input type="text" name="first_name" value="{{user.first_name}}">
        </fieldset>
        <fieldset>
            <legend>
                <label for="last_name">Last Name:</label>
            </legend>
            <input type="text" name="last_name" value="{{user.last_name}}">
        </fieldset>
        <fieldset>
            <legend>
                <label for="occupation">Occupation:</label>
            </legend>
            <input type="text" name="occupation" value="{{user.occupation}}">
        </fieldset>
        <button>Submit</button>
    </form>
</body>
</html>