* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* flex*/
.dflex {
    display: flex;
}
.dflex-col {
    display: flex;
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}
.justify-between {
    justify-content: space-between;
}
.justify-around {
    justify-content: space-around;
}
.justify-evenly{
    justify-content: space-evenly;
}

.align-center {
    align-items: center;
}