<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>Document</title>
</head>
<body>
    <div class="title">
        <span></span>
        <h1>{{movie.title}}</h1>
        <a href="/"><button>Go Home</button></a>
    </div>
    <div class="content">
        <p> TITLE: {{movie.title}}</p>
        <p> YEAR: {{movie.year_released}}</p>
        <p> RATING: {{movie.rating}}</p>
        <p> SYNOPSIS: {{movie.synopsis}}</p>
    </div>
</body>
</html>