<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>Login Or Register</title>
</head>

<body>
    <div class="title">
        <h1>Movies and Reviews</h1>
    </div>
    <div class="content">

        <form action="/user/register" method="POST">
            <fieldset>
                <legend>
                    <label for="first_name">First Name</label>
                </legend>
                <input type="text" name="first_name">
            </fieldset>
            <fieldset>
                <legend>
                    <label for="last_name">Last Name</label>
                </legend>
                <input type="text" name="last_name">
            </fieldset>
            <fieldset>
                <legend>
                    <label for="email">Email</label>
                </legend>
                <input type="text" name="email">
            </fieldset>
            <fieldset>
                <legend>
                    <label for="pw">Password</label>
                </legend>
                <input type="text" name="pw">
            </fieldset>
            <fieldset>
                <legend>
                    <label for="confirm_pw">Confirm Password</label>
                </legend>
                <input type="text" name="confirm_pw">
            </fieldset>
            <div class="btn-group">
                <a href="/login">Login</a>
                <button>Register</button>
            </div>
        </form>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <p>{{message}}</p>
        {% endfor %}
        {% endif %}
        {% endwith%}
    </div>
</body>

</html>